<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>




    <ul>


        <!-- A -->

        <!-- B -->

        <!-- C -->

        <li>
            <a href="{{ path('krzysztof90_cuboid_show_form') }}">
                cuboid by krzysztof90
            </a>
        </li>
        <!-- D -->
        <li>
            <a href="{{ path('kamilstrzelecki_cuboid_show_form') }}">
                Pole powierzchi bocznej prostopadloscianu by kamilstrzelecki
            </a>
        </li>
            
        <!-- E -->

        <!-- F -->
            <li>
           <a href="{{ path('shuwax_poleboczne_show_form') }}">
                Pole boczne by shuwax
           </a>
          </li>
        <!-- G -->
        <li>
        <a href="{{ path('golabm1993_prostopadloscian_show_form') }}">
                Prostopadloscian by golabm1993
        </a>
        </li>

        <!-- H -->
        
            <li>
            <a href="{{ path('annabiala94_prostopadloscian_show_form') }}">
                Prostopadłościan by annabiala94
            </a>
            </li>

        <!-- I -->
        <li>
            <a href="{{ path('Gojira_cuboid_show_form') }}">ppb by Gojira</a>
        </li>
        <!-- J -->

        <!-- K -->

        <!-- L -->

        <!-- M -->
        <li>
            <a href="{{ path('szwej0_PBprostopadloscian_show_form') }}">
                Pole boczne prostopadloscianu by szwej0
            </a>
        </li>

        <!-- N -->
        <li>
        <a href="{{ path('Konradha9_prostopadloscian_show_form') }}">
+                Prostopadloscian by Konradha9
+            </a>
+           </li>
        <!-- O -->

        <!-- P -->

        <!-- Q -->

        <!-- R -->

        <!-- S -->
        <li>
            <a href="{{ path('LukaszB012_prostopadloscian_show_form') }}">
                Prostopadloscian by LukaszB012
            </a>
        </li>
        <!-- T -->

        <!-- U -->

        <!-- V -->

        <!-- W -->

        <!-- X -->

        <!-- Y -->

        <!-- Z -->


    </ul>


    {% block body %}{% endblock %}

    <footer>Version: 1.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
